@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    max-width: 1800px;
    min-width: 800px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #e2e8ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 3px 3px 0px hsl(0deg 0% 0% / 0.45);
}

main {
    margin: 15px;
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 15px;
}

/*Book card*/
.book-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #FDF2E9;
    border-radius: 15px;
    font-size: 22px;
    box-shadow: 0px 2px 8px 0px hsl(0deg 0% 0% / 0.45);;
    padding: 10px;
}

.book-header {
    font-family: Ubuntu;
    line-height: 1.25;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.book-header > p {
    font-family: Inter;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.info-grid {
    display: grid;
    column-gap: 10px;
    margin-top: 10px;
    min-height: 170px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 0.5fr 1fr;
    overflow: auto;
}

.info-title {
    font-size: 20px;
    font-weight: 600;
}

.info {
    font-size: 20px;
    font-weight: 400;
}

/*Status button*/
.status {
    width: 170px;
    margin-left: 30px;
    margin-top: auto;

    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 15px;
}

.status:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
}
  
.status:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
}
  
.status:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
}

.header-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

/*Remove icon*/
.remove{
    margin-left: auto;
}

.remove:hover {
    transform: scale(1.75);
}


/*Clickable buttons*/
.btn {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 15px;
    border-width: 0 0 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: .8px;
    line-height: 20px;
    padding: 16px 32px;
    transform: translateZ(0);
    transition: filter .2s;
  }
  
.btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 15px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
.btn:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
.btn:disabled {
    cursor: auto;
  }
  
.btn:active {
    border-width: 4px 0 0;
    background: none;
  }

.submit {
    width: 80%;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 600;
}


.add-book {
    font-size: 24px;
    font-weight: 600;
}

.sign-in {
    font-size: 20px;
    font-weight: 600;
    background-color: #00d1b2;
}

.sign-in::after {
    background-color: #08e2c1;
}

/*Modal input form to add book info*/
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 350px;
    height: fit-content;
    transform: translateX(-50%) translateY(-50%);
    background-color: #e2e8ee;
    border: none;
    border-radius: 15px;
    padding: 15px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
}

dialog::backdrop {
    background-color: rgba(120, 120, 120, 0.8)
}

input {
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 15px;
}

input[type='radio'] {
    transform: scale(0.8);
    margin-left: -40px;
    margin-bottom: 0;
}

fieldset {
    border: none;
    font-size: 22px;
}

fieldset p {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
}

.read-choices {
    display: flex;
    padding: 0 25px 0 25px;
}

/*Footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: inherit;
    min-width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-weight: 600;
    font-size: 24px;
    padding: 5px;
}

footer > a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

