@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    max-width: 1800px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #e2e8ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 3px 3px 0px hsl(0deg 0% 0% / 0.45);
}

main {
    display: grid;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

.header-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.btn {
    display: block;
    border: none;
    border-radius: 15px;
    background-color: #00d1b2;
    padding: 12px 32px;
    color: white;
}

.add-book {
    font-size: 24px;
    font-weight: 600;
}

.sign-in {
    font-size: 20px;
    font-weight: 600;
    background-color: #3e8ed0;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
}

